body{
    background-color: #000;
    color: #9e9e9e;
}
nav{
    background-color: black;
    padding: 10px 0;
}
.steps-content{
    margin-top: 0px;
    margin-bottom: 20px;
}
.sports{
    margin-top: 50px;
    margin-bottom: 25%;
}
.sports img{
    width: 100%;
}
.offer{
    padding-top: 10%;
}
.offer img{
    width: 80%;
}
.demo {
    position: relative;
    margin: 20px auto;
    height: 60px;
    background-color: rgba(18, 18, 18, 0.28);
    border-radius: 12px;
    overflow: hidden;
    border: solid 4px #121212;
    margin-top: -84px;
    width: 26%;
}
.circle {
    width:20px;
    height:20px;
    background-color:#86cc01;
    position:absolute;
    border-radius:50%;
    display:inline-block;
    left:-20px;
    top:4px;
}
#button{
    margin-top: -130px;
}
button.btn.btn-lg {
    padding: 18px 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.33333;
}
button.btn {
    margin-top: .5em;
    border-radius: 5px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#baff00, #4d8a09);
    border-top: 2px solid #6acc01;
    border-bottom: 2px solid #1b1b1b;
    border-left: 0;
    border-right: 0;
    border-radius: 40px;
    color: #000;
}

.shiny-button {
    position: relative;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
    overflow: hidden;
}
.shiny-button::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    height: 80px;
    width: 600px;
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation-name: shine;
    animation-name: shine;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
    animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
    0% {
        top: -150px;
        left: -300px;
    }
    100% {
        top: 100%;
        left: 100%;
    }
}

@keyframes shine {
    0% {
        top: -150px;
        left: -300px;
    }
    100% {
        top: 100%;
        left: 100%;
    }
}
@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
keyframes spaceboots {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.custom-text {
    font-family: 'Montserrat', sans-serif;
}
.custom-text h4 {
    line-height: 1.7em;
}

@media only screen and (max-width: 992px) {
    .custom-text h4 {font-size: 0.9em;}
}

@media only screen and (max-width: 480px) {
    .custom-text h4 {line-height: normal;}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #button {
        margin-top: -112px;
    }
    .steps-content {
        margin-top: -125px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #button {
        margin-top: -115px;
    }
    .sports {
        margin-top: 90px;
        margin-bottom: 6%;
    }
    .sports img {
        width: 100%;
    }
    .steps-content {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .offer img {
        width: 95%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {

}

.middlePaypal, .middlePayment {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: #111;

    height: 50px;
}

.middlePayment .leftPayment img {display: block; margin-left: auto;}
.middlePayment .rightPayment img {display: block; margin-right: auto;}

@media screen and (max-width: 992px) {
    .middlePaypal, .middlePayment {height: 85px;}
    .middlePayment .leftPayment img {margin-right: auto;}
    .middlePayment .rightPayment img {margin-left: auto;}
}

.middlePaypal img, .middlePayment img {max-width: 90%;}