@font-face {
    font-family: Bebas Neue;
    src: url("../fonts/BebasNeue.otf");
}


body{
    background-color: black;
}
.container-fluid{
    width: 960px;
}
nav{
    background-color: black;
    color: white;
}


a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;

}
.navbar{
    margin-bottom: 0;
}
#logo{
    margin: 10px 0 ;
}
#logo img{
    width: 200px;
}
.main{
    background-image: url('../img/bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
}

.box{
    padding: 150px 0 161px 0;
    background-color: rgba(29, 28, 26, 0.76);
}

.offer{

    color: white;
    text-shadow: 0px 1px black;
    text-align: center;

    border-radius: 12px;
}
.offer h1{

    color: #ddd;
    font-family:  Bebas Neue, sans-serif;
    text-shadow: 2px 2px 2px #000;
    margin: 0;
    font-size: 6em;
    line-height: 75px;
}

.offer h2{
    font-family:  Bebas Neue, sans-serif;
    margin: 0;
}
.offer h2 span{
    color:red;
}
/********** offer text for EN **************/
.en h1 span{
    font-size: 1.7em;
    color: #E9FF44;
    line-height: 125px;
}

.button .en{
    padding: 38px;
}
/********** offer text for FR **************/
.fr h1 span{
    font-size: 1.7em;
    color: #E9FF44;
    line-height: 125px;
}
.fr h2 {
    font-size: 5.7em;

    line-height: 125px;
}
.button .fr{
    margin-bottom: 100px;
}
.button >.CTA-button {
    display: inline-block;
    padding: 0.5em 1.2em;
    font-family: arial;
    font-weight: bold;
    font-size: 1.7em;
    margin-top: 0.5em;
    line-height: 2em;
    color: #000;
    text-shadow: 0px 2px 1px #84ea01;
    background: url(../images/bg-button.png) center center;
    background: -webkit-linear-gradient(#84ea01, #4f9700);
    background: -o-linear-gradient(#84ea01, #4f9700);
    background: -moz-linear-gradient(#84ea01, #4f9700);
    background: linear-gradient(#84ea01, #4f9700);
    border-radius: 5px;
    box-shadow: #000 2px 2px 4px;
}


/********** offer text for DE **************/
.offer .de {
    padding-top: 8px;
}
.offer .de h1{
    font-size: 7em;
    line-height: 65px;
    text-align: center;
    color: white;
}
.offer .de h1 span{
    font-size: 1.5em;
    color: #E9FF44;
    line-height: 125px;
}
.offer .de h2 {
    font-size: 5em;
    text-align: center;
    line-height: 58px;
    letter-spacing: 2px;
}
.offer .de h3 {
    margin: 0;
    font-size: 3.7em;
    text-align: center;
    line-height: 36px;
    letter-spacing: 1px;
    font-family: Bebas Neue, sans-serif;
}

.button .de {
    margin-top: 20px;
    padding-bottom: 48px;
}
/********** offer text for NL **************/
.nl h1{
    font-size: 6em;
    line-height: 65px;
    text-align: center;
}
.nl h1 span{
    font-size: 1.5em;
    color: yellow;
}

.nl h2{
    font-size: 3em;
    text-align: center;
}

.button .nl {
    margin-top: 20px;
    margin-bottom: 128px;

}

/******************* offer text for JA *************************/
.box .ja{
    margin-top: 40px;
    font-family:"MS PGothic", sans-serif;
}
.box .ja h1{
    font-family:"MS PGothic", sans-serif;
    font-size: 4em;
}
.ja h1 span {
    color: yellow;
    font-size: 110px;
    line-height: 125px;
}
.button .ja {
    margin-top: 45px;
    margin-bottom: 40px;

}
/*************BUTTON******************/
.button{
    margin-top: 10px;
    text-align: center;
}
.button img{
    width: 250px;
}
.button a{
    list-style: none;
}
.button a:hover,.button a:focus{
    text-decoration: none;
    color: white;
}
.green{
    background-color: #4DA90B;
    border-bottom: 5px solid #496F2E;
    text-shadow: 0px -2px #669644;
}
.animate{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.action-button{
    position: relative;
    padding: 20px 10%;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}
.action-button:active{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
.de  .CTA-button, .nl .CTA-button, .en  .CTA-button, .ja  .CTA-button, .fr .CTA-button, .ro .CTA-button {
    display: inline-block;
    padding: 0.5em 1.2em;
    font-family: arial;
    font-weight: bold;
    font-size: 1.7em;

    line-height: 2em;

    color: #000;
    text-shadow: 0px 2px 1px #84ea01;
    background: url("../images/bg-button.png") center center;
    background: -webkit-linear-gradient(#84ea01, #4f9700);
    background: -o-linear-gradient(#84ea01, #4f9700);
    background: -moz-linear-gradient(#84ea01, #4f9700);
    background: linear-gradient(#84ea01, #4f9700);
    border-radius: 5px;
    box-shadow: #000 2px 2px 4px;
}
.button .CTA-button:hover {
    color: #000;
    background: -webkit-linear-gradient(#4f9700, #84ea01);
    background: -o-linear-gradient(#4f9700, #84ea01);
    background: -moz-linear-gradient(#4f9700, #84ea01);
    background: linear-gradient(#4f9700, #84ea01);
}

.button .ja .CTA-button{
    font-family: "MS PGothic", sans-serif;
}
.steps{
    margin-top: 10px;
}
.num{
    border-bottom: 2px solid black;
}
.licence{
    margin-top: 20px;
}
.licence img {
    width: 140px;
}

.licence-logo-mobile{
    margin-top: 20px;
}
.licence-logo-mobile img{
    width: 150px;
}
.footer-text{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color:#666666;
}


/*==========  Non-Mobile First Method  ==========*/
/* SUPER Large Devices, Wide Screens */
@media only screen and (min-width : 1920px) {
    .main{
        background-size: 100% 100%;
    }

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .main{
        height: auto;

    }
    .box{
        padding:  0;
    }
    .offer{
        padding-top: 100px;
    }
    .offer h1{
        font-size: 5em;
        line-height: 60px;
    }
    .steps .container{
        width: 100%;
    }
    .steps .container .col-xs-12{
        padding: 0;
    }
    .button{
        padding-bottom: 100px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container-fluid{
        width: 100%;
    }
    .offer h1{
        line-height: 55px;
    }
    /*****DE*****/
    .offer .de h2 {
        font-size: 5em;
        text-align: center;
    }
    .de .CTA-button{
        font-size: 1.5em;
    }
    /*******JA********/
    .box .ja {
        margin-top: 0px;
    }
    .button .ja {
        margin-top: 0;
        margin-bottom: 0;
    }
    /********FR*********/
    .fr .CTA-button {
        font-size: 1.5em;
    }
    .button .fr{
        margin-bottom: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .offer{
        text-align: center;
        padding-top: 20px;
    }
    .offer h1{
        line-height: 45px;
        font-size: 3.5em;


    }
    /*******EN*******/
    .en h1 span {

        line-height: 73px;
    }
    .button{
        text-align: center;
        padding-bottom: 20px;
    }
    .action-button{
        padding: 10px 10%;
    }
    /*****DE*****/
    .offer .de h2 {
        font-size: 4em;

    }

    /********JA*********/
    .box .ja h1{
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-size: 3em;
    }
    /********** offer text for FR **************/
    .fr h1 span{
        font-size: 3.7em;
        color: #E9FF44;
        line-height: 118px;
    }
    .fr h2 {
        font-size: 5.7em;

        line-height: 125px;
    }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .main{
        height: auto;
    }

    .offer{


        border-radius: 15px;
        padding: 10px;
    }
    .offer h1{
        line-height: 35px;
        font-size: 2em;
        background-color: transparent;
    }
    .offer h2{
        font-size: 25px;
    }
    .button{
        margin-top: 15px;

    }
    .button >.CTA-button {
        padding: 0.1em 0.2em;
        font-size: 1em;
    }
    /*******EN*******/
    .en h1 span {

        line-height: 50px;
    }

    .en .CTA-button {
        padding: 0.1em 0.2em;
        font-size: 1.2em;
    }

    /*********DE****/
    .offer .de {
        padding-top: 0;
    }
    .offer .de h1{
        font-size: 4em;
        line-height: 30px;
    }
    .offer .de h1 span{
        font-size: 1em;

        line-height: 60px;
    }
    .offer .de h2 {
        font-size: 2.5em;
        line-height: 42px;
    }
    .offer .de h3 {
        margin: 0;
        font-size: 1.7em;
        text-align: center;
        line-height: 6px;
        letter-spacing: 0px;
    }
    .button .de{
        padding: 0 ;
    }
    .de .CTA-button {
        padding: 0.1em 0.2em;
        font-size: 1.2em;
    }

    /********* JA ********/
    .ja h1 span {

        font-size:50px;
        line-height: 50px;
    }

    .ja .CTA-button {
        padding: 0.5em 0.1em;
        font-size: 1.5em;
    }
    /**********FR*********/
    .fr .CTA-button {
        font-size: 1em;
    }
    .offer .fr h2 {
        font-size: 3.7em;
        line-height: 67px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}