body{
	background-color: #000;
}
.offscreen{
    position: absolute;
    margin-top: -5000px;
}
.navbar{
	margin-bottom: 0;
}
.bg-black{
	background-color: #000;
}
.container-fluid {
	width: 960px;
}
.logo{
	margin-top: 10px;
}
.logo img{
	width: 200px;
}
.header-text{
	color: white;
	margin-top: 15px;
}
.main{
	background-image: url('img/bg.jpg');
	-webkit-background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

}
.offer{
	margin-top: 100px;
}
.button{
	margin-top: 20px;
}

.frame{
	margin-top:120px;
	background-image: url('img/frame.png');
	-webkit-background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.frame video{
	padding: 6%;
}
.steps{
	margin-top: 20px;
}
.col.center{
  margin-top: auto;
  margin-bottom: auto;
  margin:0;
}
.terms p{
	font-size: 12px; 
	color:#8F8F8F; 
	margin-top:.5em;
	margin-bottom:10px;
}
.terms p span, .terms p a{
	color: #8F8F8F;
	text-decoration: underline;
}
.licence{
	margin-top: 20px;
}
.licence img{
    width: 140px;
}
.licence-logo-mobile{
	margin-top: 20px;
}

.licence-logo-mobile img{
	width: 150px;
}
.footer-text{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
	font-size: 12px; 
	color:#666666;
}

 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		.container-fluid{
    		width: 100%;
    	}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.container{
    		padding: 0;
    	}
    	.main{
    		height: auto;
    		background-image: none;
    	}
    	.frame{
    		margin-top: 0;
    		background-size: 100% 105%;
    	}
    	.header-text{
    		margin-top: 0;
    	}

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }