body{
  background-color: #000;
  color: #9e9e9e;
}
nav{
  background-color: black;
  padding: 10px 0;
}

.main-content{
  -webkit-background-size: contain;
  background-size: contain;
  height: 800px;
}
.main-wrapper{
  max-width: 1170px;
}
.steps-content {
  margin-top: -165px;
  margin-bottom: 20px;
}
#steps{
  background-color: rgba(0, 0, 0, 0.3);
}
.step {
  font-family: 'Montserrat',sans-serif;
  margin: 30px 20px;
  padding-left: 85px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.44);
}
.step .number {
  position: absolute;
  top: 40px;
  left: 55px;
  font-family: 'Montserrat',sans-serif;
  color: #baff00;
  font-size: 4em;
  line-height: 1.2em;
  text-align: center;
  width: 1em;
  height: 1.5em;
  border-radius: 50%;
}
.step h5 {
  font-family: 'Montserrat',sans-serif;
  font-size: 2em;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}
.step p{
  font-family: 'Montserrat',sans-serif;
  font-size: 2em;
  color: #baff00;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 10px;
}


.offer{
  margin-top: 47%;
  font-family: 'Montserrat',sans-serif;
  padding: 0;
  color: #000;
  margin-bottom: 134px;
  background-color: #baff00;
  text-transform: uppercase;

}
.offer .btn-black{
  color: #baff00;
  background-color: #000;
  border-color: #000;
  font-size: 2.6em;
  vertical-align: middle;
  padding: 20px 45px;
}
.offer h1{
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.offer h1 span{
  font-size: 2em;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}
.demo {
    position: relative;
    height: 60px;
    background-color: rgba(18, 18, 18, 0.28);
    border-radius: 12px;
    overflow: hidden;
    border: solid 4px #121212;
    margin-top: -84px;
    width: 26%;
}
.circle {
  width:20px;
  height:20px;
  background-color:#86cc01;
  position:absolute;
  border-radius:50%;
  display:inline-block;
  left:-20px;
  top:4px;
}
#button{
      margin-top: -130px;
}
button.btn.btn-lg {
    padding: 18px 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.33333;
}
button.btn {
    margin-top: .2em;
    border-radius: 2px;
}

.shiny-button {
    position: relative;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
    overflow: hidden;
}
.shiny-button::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 80px;
  width: 600px;
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation-name: shine;
          animation-name: shine;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
          animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
  0% {
    top: -150px;
    left: -300px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

@keyframes shine {
  0% {
    top: -150px;
    left: -300px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}


/*==========  Non-Mobile First Method  ==========*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1400px) {
    .main-content{
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

  @media only screen and (max-width : 1200px) {
    .main-content {
      height: 540px;
      background-size: cover;
    }
    .offer{
      margin-bottom: 0;
    }
    .offer h1 {
      font-size: 40px;
    }
    .offer .btn-black {
      padding: 10px 35px;
    }
    .step {
      font-size: 18px;
      margin: 32px 25px;
    }
    .step .number{
      left: 10px;

    }
    .step p {
      font-size: 1.3em;}
    .steps-content {
      margin-top: 0;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

    .offer {
      margin-top: 50%;
      margin-bottom: 0;
    }
    #button {
      margin-top: -115px;
    }
    .sports {
      margin-top: 90px;
      margin-bottom: 6%;
    }
    .sports img {
      width: 100%;
    }
    .steps-content {
      margin-top: 0;
      margin-bottom: 20px;
    }
    .offer img {
      width: 95%;
    }
    .offer .btn-black {
      margin-bottom: 20px;
    }

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 769px) {
    .step {
        text-align: left;
        font-size: 20px;
    }
    .step .number {
      left: 10px;
      top: 40px;
    }
  }
  @media only screen and (max-width : 480px) {
    .step {
      font-size: 14px;
      margin: 10px 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .step .number{
      top: 20px;
      left: 20px;
    }
  }
