body{
  background-color: #000;
  color: #9e9e9e;
}
nav{
  background-color: black;
  padding: 10px 0;
}
.main-content{
  background-position: center;
}
.offer-container {
    margin: 45% 2.5%;

}
.wrapper{
  max-width: 1170px;
}
.toons{
  margin-top: 22%;
}
.slot{
  margin-top: -332px;
}
.offer{

  background: rgba(0, 0, 0, 0.55);
  padding: 15px;
  border-radius: 15px;
}
.offer h3 ,.offer h2 {
  font-family: 'Oswald',sans-serif;
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}
.offer  h2 {
  color: gold;
  font-size: 75px;
  font-weight: 600;
}
.offer h3 {
  color: white;
  font-size: 2.3em;
  font-weight: 600;
  margin: 0px;
}
.offer input{
  margin: 10px 0;
}
.btn {
  border: 0;
}
.button .CTA-button {
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    font-size: 1.7em;
    line-height: 3em;
    color: rgb(0, 0, 0);
    text-shadow: rgb(132, 234, 1) 0px 2px 1px;
    box-shadow: rgb(0, 0, 0) 2px 2px 4px;
    cursor: pointer;
    padding: 0em 1.2em;
    margin: 0.5em 0px;
    background: linear-gradient(rgb(167, 255, 55), rgb(79, 151, 0));
    border-radius: 5px;
}
button.btn.btn-lg {
    padding: 18px 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.33333;
}

.button .CTA-button:hover {
    color: #000;
    background: -webkit-linear-gradient(#4f9700, #84ea01);
    background: -o-linear-gradient(#4f9700, #84ea01);
    background: -moz-linear-gradient(#4f9700, #84ea01);
    background: linear-gradient(#4f9700, #84ea01);
}
.steps-content{
  margin-top: -140px;
  margin-bottom: 20px;
}
.sports{
  margin-top: 50px;
  margin-bottom: 25%;
}
.sports img{
  width: 100%;
}

.demo {
  position: relative;
  margin: 20px auto;
  height: 60px;
  background-color: rgba(18, 18, 18, 0.28);
  border-radius: 12px;
  overflow: hidden;
  border: solid 4px #121212;
  margin-top: -84px;
  width: 26%;
}
.circle {
  width:20px;
  height:20px;
  background-color:#86cc01;
  position:absolute;
  border-radius:50%;
  display:inline-block;
  left:-20px;
  top:4px;
}
#button{
  margin-top: -130px;
}

#steps{
  background-color: rgba(0, 0, 0, 0.3);
}
.step {
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}
.step .number {
    position: absolute;
    background: #272626;

    font-family: "Oswald", sans-serif;
    color: #ffd700;
    font-size: 3em;
    line-height: 1.8em;
    text-align: center;
    width: 2em;
    height: 2em;
    border: 5px dashed white;
    border-radius: 50%;
}
.step h5 {
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}





/*==========  Non-Mobile First Method  ==========*/
  @media only screen and (max-width : 1800px) {

    .offer h2 {
      font-size: 60px;
    }
    .toons {
        margin-top: 171px;
    }
    .slot {
      margin-top: -52%;
    }
    .button .CTA-button{
      font-size: 1.3em;
    }

  }
  @media only screen and (max-width : 1600px) {
    .offer-container {
      width: 260px;
    }
    .button .CTA-button {
      width: 100%;
    }
  }

  @media only screen and (min-width : 1500px) {

  }
  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    .main-content {
        background-position: left;
    }
    #button {
        margin-top: -112px;
    }
    .offer h2 {
      font-size: 75px;
    }
    .steps-content {
      margin-top: -125px;
    }
    .offer h3 {
      font-size: 3em;
    }
    .offer-container {
      width: 100%;
      margin: 20% 2.5%;
    }


  }
  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    .main-content{
          background-position: left;
    }
    #button {
        margin-top: -115px;
    }
    .sports {
      margin-top: 90px;
      margin-bottom: 6%;
    }
    .sports img {
      width: 100%;
    }
    .steps-content {
      margin-top: 0;
      margin-bottom: 20px;
    }
    .offer img {
      width: 95%;
    }
    .offer-container {
      margin: 10% 0;
    }
  }

  /* Small Devices, Tablets */

  @media only screen and (max-width : 768px) {
    .step {
        padding-left: 70px;
    }
    .step h5{
      font-size: 2em;
      text-align: center;
    }
    .step h2{
        margin-top: 5px;
    }
  }
