@font-face {
	font-family: 'DINPro';
	src: url('fonts/DINPro-Medium.eot');
	src: url('fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/DINPro-Medium.woff2') format('woff2'),
		url('fonts/DINPro-Medium.woff') format('woff'),
		url('fonts/DINPro-Medium.ttf') format('truetype'),
		url('fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('fonts/DINPro-Bold.eot');
	src: url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/DINPro-Bold.woff2') format('woff2'),
		url('fonts/DINPro-Bold.woff') format('woff'),
		url('fonts/DINPro-Bold.ttf') format('truetype'),
		url('fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('fonts/DINPro-Light.eot');
	src: url('fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/DINPro-Light.woff2') format('woff2'),
		url('fonts/DINPro-Light.woff') format('woff'),
		url('fonts/DINPro-Light.ttf') format('truetype'),
		url('fonts/DINPro-Light.svg#DINPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('fonts/DINPro-Black.eot');
	src: url('fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/DINPro-Black.woff2') format('woff2'),
		url('fonts/DINPro-Black.woff') format('woff'),
		url('fonts/DINPro-Black.ttf') format('truetype'),
		url('fonts/DINPro-Black.svg#DINPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('fonts/DINPro-Regular.eot');
	src: url('fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/DINPro-Regular.woff2') format('woff2'),
		url('fonts/DINPro-Regular.woff') format('woff'),
		url('fonts/DINPro-Regular.ttf') format('truetype'),
		url('fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#logo {padding: 10px}

.dropdown button span img, .dropdown-menu li a span img {width: 30px;}

body{background-color:#000}.button{margin-top: 15vw;}.content{height:25vw;background-position:50%;background-size:cover;background-repeat:no-repeat}body{background-color:#0f0f0f;font-family:Open Sans,sans-serif}.logo img{width: 125px;}.logo{margin-top:5px}.selector{z-index:999}.lang-selector{margin-top:10px;text-transform:uppercase;font-family:Open Sans,sans-serif;width:130px;height:40px;background-color:hsla(0,0%,6%,.8);color:#fff;border-radius:0 0 5px 5px;font-size:12px}.lang-btn{background-color:#ff6b00;text-transform:uppercase;}.btn.active,.btn:active{background-image:none;box-shadow:inset 0px 3px 5px #ae4c05;outline:0px}.steps{margin-top:-30px}.btn:hover{color:#fff}.grey-text a{color: white;font-weight:bold;}.grey-text p{color:#b5b5b5;font-family:Open Sans,sans-serif}@media(max-width: 1200px){.button{margin-top: 12vw;}}@media(max-width:768px){.steps{margin-top:0px}}

.button {width: 90%; background: #76b338; border-bottom: 10px solid #41651c; margin-left: auto; margin-right: auto;}
.button a {color: #ffffff; display: block; text-align: center; text-decoration: none; font-family: "DINPro"; font-weight: bold; font-size: 2em; padding-bottom: 1vw;}

.steps {
  padding: 20px 0;
}

.step {
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.step h5 {
  font-family: "DINPro", sans-serif;
  font-size: 2em;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000000;
}

.step p {
  color: #999999;
}

.step .number {
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: "DINPro", sans-serif;
  color: white;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
  width: 1em;
  height: 2em;
  font-weight: 800;
  text-shadow: 1px 1px 1px #000000;
}

.step .accent {
  color: #509901;
}

@media (min-width: 768px) {
  .step {
    padding-left: 70px;
  }
  .step .number {
    /*left: 0;*/
  }
}

#steps {
  margin-top: -3em;
}

@media (max-width: 768px) {
  #steps {margin-top: 0;}
}

#steps .container .row .col-md-4 .step {
  background-image: url('step.png');
  background-size: cover;
  height: 187px;
  border-radius: 2.5em;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  #steps .container .row .col-md-4 .step {
    height: 151px;
  }
}

@media only screen and (max-width: 1024px) {

  #steps .container .row .col-md-4 .step {
    height: 168px;
		margin-bottom: 10px;
  }

}
