body {
    font-family: 'Oswald',sans-serif;
}
.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-position: top;
}
.section-heading{
    font-size: 3.5em;
    text-transform: uppercase;
    padding: 30px 0;
}
.bg-grey{
    background-color: #333333;
}
.bg-black{
    background-color: black;
}
.color-lightgrey{
    color: #acacac;
}
.bg-darkgrey{
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
}
.text-white{
    margin-top: 15px;
    line-height: 0.9em;
    overflow: visible;
    text-shadow: #000000 0 0 10px;
    color: white;
}
.text-yellow{
    margin-top: 15px;
    line-height: 0.9em;
    color: #ffcc00 !important;
    text-shadow: #000000 0 0 10px;
}
.custom-text{
    color: white;
}
.custom-text h4{
    font-size: 1.4em;
    text-transform: uppercase;

}

.black-transparent{
    background: rgba(0,0,0,0.5);
}
#logo img {
    width: 180px;
    padding: 10px;
}
.free-bet-offer {
    height: 300px;
    padding: 1em 0;
}
#main-content{
}
.main-cta{
    margin-top: 67px;
    margin-bottom: 20px;

}
.text1{
    font-size: 5.2em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}
.text2{
    font-size:  8.8em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.text2 strong{
    font-size: 1.2em;
}
.button{
    margin-top: 30px;
    margin-bottom: 20px;
}
.register-cta{
    background: -webkit-linear-gradient(#d82029, #a60c10);
    background: -moz-linear-gradient(#d82029, #a60c10);
    background: linear-gradient(#d82029, #a60c10);
    border-radius: 4px;
    border: none;
    color: #000000 !important;
    padding: 0.2em 1.9em;
    text-align: center;
    font-size: 3em;
    margin-top: 10px;
}
.register-cta:hover{
    background: -webkit-linear-gradient(#a60c10, #d82029);
    background: -moz-linear-gradient(#a60c10, #d82029);
    background: linear-gradient(#a60c10, #d82029);
}
.terms-wrap{
    color: white;
    font-size: 18px;
}
.terms-wrap a{
    color: white;
    text-decoration: underline;
    font-weight: 300;
}
.bonusCode{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin-top: 8px;
    font-size: 1.5em;
    display: block;
    text-shadow: 0 0 0.5em #000000;
}
.leftPayment{
    text-align: right;
}

.step .number{
    margin-right: 0;
    color: #acacac;
    line-height: 1.2em;
    font-weight: bold;
    font-family: 'Rajdhani',sans-serif;
    text-align: right;
}
#steps{
    padding: 2em;
}
.step .number h2{
    font-size: 9em;
}
.step .heading{
    text-transform: uppercase;
    color: #d82029;
    font-size: 2em;
    margin-top: 1.2em;
}
.step .text {
    color: white;
    font-size: 1.2em;
}
.step .text span{
    color: #ffcc00;
}
#steps div[class^="col-"]{
    padding: 2px;
}
#special-offers .panel{
    background-color: black;
}
#special-offers .panel .panel-heading{
    padding: 5px 15px;
}
#special-offers .panel .panel-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-top: 0;
    color: white;
}
#special-offers .panel .panel-body{
    padding: 0;
    background-color: #333;
    height: 70px;
    line-height: 70px;
}
#special-offers .panel .panel-body p{
    color: white;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0px;
}
#special-offers .card3 .panel .panel-body p, #special-offers .card2 .panel .panel-body p, #special-offers .card1 .panel .panel-body p{
    color: white;
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0px;
}

#special-offers .panel .panel-body p span{
    color: #ffcc00;
}
#special-offers .panel .panel-footer{
    color: white;
    background-color: black;
    border-top: 0;
}
#special-offers .panel .panel-footer a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin: 0 0 0;
    text-align: right;
    float: right;
}
.text-red{
    color: #d82029 !important;
}
#terms{
    padding-top: 20px;
}
#terms a{
    text-decoration: none;
    color: white;

}
#terms a:hover{
    color: darkgray;
}
#footer .footer-desc{
    color: grey;
}
#footer h3{
    color: #bbbbbb;
}

@media (max-width: 1200px) {
    .justify{
        font-size: 10px;
    }
    .free-bet-offer {
        height: 300px;
    }
    .register-cta {
        padding: 0.2em 0.5em;
    }
}
@media (max-width: 990px) {
    .fullscreen-bg{
        background-position: bottom left;
        bottom: 70px;
    }
    .free-bet-offer {
        height: 300px;
    }
    .text2{
        color: white;
    }
    .main-cta{
        margin: 0 auto;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.15);
        padding: 20px 0;
    }
    nav{
        font-size: 8px;
    }
    .leftPayment,.rightPayment{
        text-align: center;
    }

    #steps{
        font-size:13px;
    }

    .step .text{
        font-size: 1.45em;
    }
    .step .number h2 {
        margin-top: 0;
    }

     #main-content,#special-offers{
        font-size: 10px;
    }
    .step .heading {
        margin-top: 1em;
    }
    .main-cta {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    #special-offers .panel{
        width: 55%;
        margin: 10px auto;

    }
    #footer{
        text-align: center;
    }
}
@media (max-width: 767px) {
    .free-bet-offer {
        height: 0;
    }
    .fullscreen-bg{
        background-position: left;
        bottom: 70px;
    }
    .step .number, .step .heading,.step .text {
        text-align: center;
        margin-top: 0;
    }
    .justify{
        font-size: 8px;
    }
}
@media (max-width: 480px) {
    #special-offers .panel{
        width: 94%;
        margin-top: 0 auto;
    }
    #main-content{
        font-size: 8px;
    }
}