body{
  background-color: #000;
  color: #9e9e9e;
}
nav{
  background-color: black;
  padding: 10px 0;
  z-index: 15;
  position: relative;
}
.nav-tabs{
  border-bottom:0;
}
.nav-tabs  li a{
  padding: 21px;
}
.nav-tabs  li a  img{
  width: 25px;
}

.nav-tabs  li  a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  border: 0px ;
  border-bottom-color: transparent;
  cursor: pointer;
}
.nav-tabs  li  a:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.62);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border: 0px ;
  border-bottom-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;

}
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: rgba(255, 255, 255, 0.62);
  border: 0px ;
  border-bottom-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.nav-tabs > li> a:hover, .nav-tabs > li> a:focus, .nav-tabs > li> a:active {
  background-color: transparent;
  border-color: 0;
  border: 0px ;
  border-bottom-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;

}
.nav-tabs li a:hover:before, .nav-tabs li a:focus:before, .nav-tabs li a:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
/* Outline Out */
.hvr-outline-out {

}
.hvr-outline-out:before {

}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {

}

.steps-content{
  margin-top: 0;
  margin-bottom: 20px;
}
.sports{
  margin-top: 50px;
  margin-bottom: 25%;
}
.sports img{
  width: 100%;
}
.offer{
  padding-top: 10%;
}
.offer img{
  width: 80%;
}
.demo {
    position: relative;
    margin: 20px auto;
    height: 60px;
    background-color: rgba(18, 18, 18, 0.28);
    border-radius: 12px;
    overflow: hidden;
    border: solid 4px #121212;
    margin-top: -84px;
    width: 26%;
}
.circle {
  width:20px;
  height:20px;
  background-color:#86cc01;
  position:absolute;
  border-radius:50%;
  display:inline-block;
  left:-20px;
  top:4px;
}
#button{
      font-family: 'Montserrat', sans-serif;
}
button.btn.btn-lg {
    padding: 5px 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.33333;
}
button.btn {
    border-radius: 5px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#baff00, #4d8a09);
    border-top: 2px solid #6acc01;
    border-bottom: 2px solid #1b1b1b;
    border-left: 0;
    border-right: 0;
    border-radius: 40px;
    color: #000;
}
.shiny-button {
    position: relative;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
    overflow: hidden;
}
.shiny-button::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 80px;
  width: 600px;
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation-name: shine;
          animation-name: shine;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
          animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
  0% {
    top: -150px;
    left: -300px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

@keyframes shine {
  0% {
    top: -150px;
    left: -300px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.offerCentre {
  height: 455px;
  width: 455px;
  border-radius: 300px;
  background: linear-gradient(to right, rgba(122, 122, 164, 0.7), rgba(152, 111, 138, 0.7));
  margin-top: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.offerCentre span {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: block;
}

.offerCentre .line1 {
  font-size: 10em;
  color: #baff00;
  font-weight: bold;
  padding-top: 90px;
}

.offerCentre .line2 {
  font-size: 4em;
  color: #ffffff;
  font-weight: bold;
  margin-top: -10px;
}

.offerCentre .bonus {
  font-size: 1em;
  color: #ffffff;
  margin-top: 1em;
}

.offerCentre .code {
  font-size: 2em;
  color: #baff00;
  font-weight: bold;
}

.number {
  width: 60px;
  height: 60px;
  text-align: center;
  display: block;
  float: left;
  font-size: 3.5em;
  line-height: .96em;
  border: 6px solid #b0a0ff;
  color: #b0a0ff;
  padding-left: 0.04em;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

.step {float: left;}

.step h5 {
  color: #b0a0ff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  margin-left: 10px;
  float: left;
}

.step p {
  float: right;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.col-md-3 .step h5, .col-md-3 .step p {width: 200px;}
.col-md-4 .step h5, .col-md-4 .step p {width: 300px;}
.col-md-5 .step h5, .col-md-5 .step p {width: 400px;}

/*==========  Non-Mobile First Method  ==========*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    #button {
        margin-top: 0px;
    }
    .steps-content {
      margin-top: 0;
    }
    .offerCentre {
      width: 400px;
      height: 400px;
    }
    .offerCentre .line1 {font-size: 8em; padding-top: 75px;}
    .offerCentre .line2 {margin-top: -11px;}
    .col-md-4 .step h5, .col-md-4 .step p {width: 260px;}
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    #button {
        margin-top: 0px;
    }
    .sports {
      margin-top: 90px;
      margin-bottom: 6%;
    }
    .sports img {
      width: 100%;
    }
    .steps-content {
      margin-top: 0;
      margin-bottom: 20px;
    }
    .number {
      margin-left: 10px;
    }
    .step h5 {
      font-size: 1.8em;
    }
    .offer img {
      width: 95%;
    }
    .offerCentre {
      width: 345px;
      height: 345px;
    }
    .offerCentre .line1 {font-size: 7em; padding-top: 44px;}
    .offerCentre .line2 {font-size: 3em;}
    .offerCentre .bonus {margin-top: 1em;}
    .col-md-4 .step p {width: 600px; float: left; margin-left: 10px;}
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 769px) {
    .mobile-content .container-fluid .row .col-xs-12 .offer {
      margin-bottom: -440px;
      padding-top: 2%;
    }
    button.btn {
      margin-top: 0;
      position: relative;
    }
    button.btn.btn-lg {
      font-size: 28px;
    }
    .offerCentre {
      width: 320px;
      height: 320px;
    }
    .offerCentre .line1 {font-size: 6em;}
    .offerCentre .line2 {font-size: 2.5em; margin-top: -8px;}
    .offerCentre .bonus {margin-top: .5em;}
    .col-md-4 .step p {width: 450px;}
  }

  @media only screen and (max-width : 600px) {
    .col-md-4 .step p {width: 280px;}
    .offer {padding-top: 0; margin-top: -35px;}
  }

  @media only screen and (max-width : 480px) {
    .offerCentre {
      width: 300px;
      height: 300px;
    }
  }

  @media only screen and (max-width : 370px) {
    .col-md-4 .step p {width: 230px;}
  }

  .middlePaypal {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: #111;
  }

  .middlePaypal img {max-width: 90%;}
