
body{
    background-color: #0f0f0f;
}

nav{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;

}
.navbar{
    margin-bottom: 0;
}
#logo{
    margin: 10px 0 ;
}
#logo img{
    width: 200px;
}
.co-logo img{
    max-height: 60px;
}
.custom-text{
    margin-top: 2%;
    color: white;
}

header .container .col-md-7,
header .container .col-lg-8,
header .container .col-md-8,
header .container .col-lg-9{
    padding: 0;
}


.offer{
    margin-top: 15%;
}

.button{
    margin-top: 10%;
    margin-bottom: 15%;
}
.button img {
    height: 10%;
}
.steps {
    margin-top: 750px;
    bottom: 0;
    width: 100%;
}


.licence-logo-mobile{
    margin-top: 20px;
}

.licence-logo-mobile img{
    width: 150px;
}
footer{
    overflow: hidden;
}
.footer-text{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color:#fff;
}
footer .row{
    margin-top: 30px;
}
.gray-text{
    color: gray;
}

#footer{
    margin-top: 20px;
}

@media (min-width: 1920px){
    header{
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}
/*==========  Non-Mobile First Method  ==========*/
/* SUPER Large Devices, Wide Screens */


@media only screen and (max-width : 1600px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {

}
@media only screen and (max-width : 1280px) {
    .offer{
        margin-top: 12%;
    }
}
@media only screen and (max-width : 1200px) {

    .container{
        width: 100%;
    }
    .mobile .container-fluid .col-xs-12, .steps .container-fluid .col-xs-12{
        padding: 0;
    }
    .steps {
        margin-top: 500px;
        bottom: 0;
    }

}
@media only screen and (max-width : 1024px) {




}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .custom-text {
        margin-top: 3%;
    }
    .steps{
        margin-top: 400px;
    }


    .button {
        margin-top: 3%;
        margin-bottom: 10%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .container {
        width: 100%;
    }
    .custom-text {
        margin-top: 4%;
    }
    footer .row{
        margin-top: 0px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}