body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #0B0B09;
}
.container-fluid{
    max-width: 1025px;
}

.offscreen{
    position: absolute;
    margin-top: -5000px;
}
.navbar{
    margin-bottom: 0;
}
.bg-gray{
    background-color: #262626;
}
.logo{
    margin: 10px 0;
}
.logo img{
    width: 200px;
}
.header-text{
    color: white;
    margin-top: 15px;
}
.main{

    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 649px;

}
.offer{
    margin-top: 130px;
}
.button{
    margin-top: 20px;
}

.frame{
    margin-top: 55px;
    background-image: url('../img/frame.png');
    -webkit-background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.frame video{
    padding: 6%;
}
.steps-live{
    background-image: url('../img/steps_bg.png');
    background-repeat: repeat-x;
}
#step1, #step2, #step3 {
    background-color: #161616;
    margin-top: 20px;
}
.steps, .steps-live{
    margin-top: 5px;

}

.step .row div {
    vertical-align: middle;
    padding: 10px;
}
.step-title {
    font-size: 2.4em;
    color: #e5b24f;
}
.step-text {
    font-size: 1.6em;
    color: #fff;
}
.step-num > p {
    font-size: 6em;
    color: #e5b24f;
    text-align: center;
    padding-left: 25px !important;
    padding-right: 5px !important;
}
.step {
    background-color: #1c1c1c;
    border: 1px solid #323232;
    margin-bottom: 0.5em;
}

.col.center{
    margin-top: auto;
    margin-bottom: auto;
    margin:0;
}
.terms p{
    font-size: 12px;
    color:#8F8F8F;
    margin-top:.5em;
    margin-bottom:10px;
}
.terms a:hover{
    color: white;
}
.terms1 a p , .terms1 p {
    color: #8F8F8F;
    text-decoration: underline;
}
.terms1 a:hover{
    text-decoration: none;
}
.licence{
    margin-top: 20px;
}
.licence img{
    width: 140px;
}
.licence-logo-mobile{
    margin-top: 20px;
}

.licence-logo-mobile img{
    width: 150px;
}
.footer-text{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color:#666666;
}
.game img{
    width: 378px;

}
.valid-text{
    margin-top:10em;
    font-size:0.85em;
    color:#616161;
}
.margin-bot10{
    margin-bottom: 10px;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .frame{
        margin-top: 100px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .frame{
        margin-top: 120px;
        float: right;

    }
    .left-box{
        margin-left: -4%;
    }
    .main {height: 450px;}
    .offer {margin-top: 50px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .main{

        height: auto;
        background-image: none;
    }
    .frame{
        margin-top: 0;
        background-size: 97% 102%;
    }
    .header-text{
        margin-top: 0;
    }
    .button{
        margin-top: 20px;
    }
    .steps-live{
        background-image: none;
    }
    .terms{
        text-align: center;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}