body {
    font-family: 'Oswald',sans-serif;
}
.nav-tabs{
    border-bottom:0;
}
.nav-tabs  li a{
    padding: 21px;
    text-transform: uppercase;
}
.nav-tabs  li a  img{
    width: 25px;
}

.nav-tabs  li  a{
    color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.82);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    padding: 15px;
    border-radius: 0%;
    border: 0px ;
    border-bottom-color: transparent;
    cursor: pointer;
}
.nav-tabs  li  a:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: dimgrey;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border: 0 ;
    border-bottom-color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 0;

}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: grey;
    border: 0;
    border-bottom-color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 0;
    color: white;
}
.nav-tabs > li> a:hover, .nav-tabs > li> a:focus, .nav-tabs > li> a:active {
    background-color: transparent;
    border-color: 0;
    border: 0px ;
    border-bottom-color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 0;
    color: #fff;

}
.nav-tabs li a:hover:before, .nav-tabs li a:focus:before, .nav-tabs li a:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.section-heading{
    font-size: 3.5em;
    text-transform: uppercase;
    padding: 30px 0;
}
.bg-grey{
    background-color: #333333;
}
.bg-black{
    background-color: black;
}
.color-lightgrey{
    color: #acacac;
}
.bg-darkgrey{
    background-color: #1e1e1e;
}
.text-white{
    margin-top: 15px;
    line-height: 0.9em;
    overflow: visible;
    text-shadow: #000000 0 0 10px;
    color: white;
}
.text-yellow{
    margin-top: 15px;
    line-height: 0.9em;
    color: #ffcc00 !important;
    text-shadow: #000000 0 0 10px;
}
.custom-text{
    color: white;
}
.custom-text h4{
    font-size: 1.7em;
    text-transform: uppercase;

}
.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-image: url('../img/bg.jpg');
}
.black-transparent{
    background: rgba(0,0,0,0.5);
}
#logo img {
    width: 180px;
    padding: 10px;
}

#main-content{
}
.main-cta{
    margin-top: 250px;
    margin-bottom: 250px;

}
.text1{
    font-size: 2.3em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}
.text2{
    font-size: 9.5em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.text2 strong{
    font-size: 1.2em;
}
.register-cta{
    background: -webkit-linear-gradient(#ffcc00, #ffe580);
    background: -moz-linear-gradient(#ffcc00, #ffe580);
    background: linear-gradient(#ffcc00, #ffe580);
    border-radius: 4px;
    border: none;
    color: #000000 !important;
    padding: 0.2em 1.5em;
    text-align: center;
    font-size: 3em;
    margin-top: 10px;
}
.register-cta:hover{
    background: -webkit-linear-gradient(#ffe580, #ffcc00);
    background: -moz-linear-gradient(#ffe580, #ffcc00);
    background: linear-gradient(#ffe580, #ffcc00);
}
.step .number{
    margin-right: 0;
    color: #acacac;
    line-height: 1.2em;
    font-weight: bold;
    font-family: 'Rajdhani',sans-serif;
    text-align: right;
}
#steps{
    padding: 2em;
    text-transform: uppercase;
}
.step .number h2{
    font-size: 7em;
}
.step .heading{
    color: #ffcc00;
    font-size: 2em;
    margin-top: 1.3em;
    margin-bottom: 5px;
}
.step .text {
    color: white;
    font-size: 1.1em;
}
.step .text span{
    color: #ffcc00;
}
#steps div[class^="col-"]{
    padding: 2px;
}
#special-offers .panel{
    background-color: black;
}
#special-offers .panel .panel-heading{
    padding: 5px 15px;
}
#special-offers .panel .panel-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-top: 0;
    color: white;
}
#special-offers .panel .panel-body{
    padding: 0;
    background-color: #333;
    height: 70px;
    line-height: 70px;
}
#special-offers .panel .panel-body p{
    color: white;
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0px;
}


#special-offers .panel .panel-body p span{
    color: #ffcc00;
}
#special-offers .panel .panel-footer{
    color: white;
    background-color: black;
    border-top: 0;
}
#special-offers .panel .panel-footer a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin: 0 0 0;
    text-align: right;
    float: right;
}
#terms{
    padding-top: 20px;
}
#terms a{
    text-decoration: none;
    color: white;

}
#terms a:hover{
    color: darkgray;
}
#footer .footer-desc{
    color: grey;
}
#footer h3{
    color: #bbbbbb;
}
#footer a{
    color: darkgray;
}
#footer a:hover{
    text-decoration: none;
    color: gray;
}

@media (max-width: 990px) {

    nav{
        font-size: 8px;
    }
    #steps{
        font-size:13px;
    }
    .step .number, .step .heading,.step .text {
        text-align: center;
        margin-top: 0;
    }
    .step .text{
        font-size: 1.45em;
    }
    .step .number h2 {
        margin-top: 0;
    }

    #main-content,#special-offers{
        font-size: 10px;
    }
    .main-cta {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    #special-offers .panel{
        width: 55%;
        margin: 10px auto;

    }
    #footer{
        text-align: center;
    }
}

@media (max-width: 480px) {
    #special-offers .panel{
        width: 94%;
        margin: 0 auto;
    }
    #main-content{
        font-size: 8px;
    }
}